.dark-mode {
 background-color: black;
  color: white;
}

button:before {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 12px;
  padding: 10px 24px;
}

button:after {
  background-color: white;
  color: black;
  border: 1px solid black;
}

a {
 font-size: 30px;
}
